* {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 200;
}


/* body {
    background: rgb(255, 0, 50);
} */


/* (no tengo idea que colorsito ponerle :C) */

#header {
    height: 45px;
    margin: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
}

.vergil-chibi {
    width: 350px;
}

b {
    display: block;
    text-align: center;
}